.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.profile_container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 2rem;
  z-index: 100;
  padding: 1rem;
}

.text_container{
  margin: auto;
}

.title {
  color: white;
  font-size: 3rem;
  margin: 1rem 0 0 1rem;
  opacity: 1;
  z-index: 101;
}

.text{
  color: white;
  margin: 1rem 1rem 0 1rem;
  opacity: 1;
  font-size: 1.5rem;
  z-index: 101;
  text-align: justify;
}

.profile_pic{
  height: 300px;
  width: 250px;
  border-radius: 10rem;
}

@media screen and (max-width: 750px){
  .title {
    margin: 0 0 0 1rem;
  }
}